<!DOCTYPE html>
<html>
    <% var page = beyondDogCat; var parentPage = service; var pageName = 'service'; var subNav = 'beyond-dog-cat'; %>
    <% include ./partials/head.ejs %>
    <body>
        <div class="page departments">
            <div class="wrap">
                <% include ./partials/header.ejs %>
                <% include ./partials/hero.ejs %>
                <div class="body">
                    <div class="content">
                        <main>
                            <% include ./partials/subnav.ejs %>
                            <% include ./partials/content.ejs %>
                        </main>
                    </div>
                    <% include ./partials/sidebar.ejs %>
                </div>
                <% include ./partials/footer.ejs %>
            </div>
        </div>
        <% include ./partials/map.ejs %>
    </body>
    <% include ./partials/scripts.ejs %>
</html>
