<!DOCTYPE html>
<html>
    <% var page = index; var pageName = 'index'; %>
    <% include ./partials/head.ejs %>
    <body>
        <div class="page">
            <div class="wrap">
                <% include ./partials/header.ejs %>
                <div id="fpHero" class="hero">
                    <img src="./images/samples/1.jpg" />
                </div>
                <div class="body">
                    <p>body body</p>
                    <p>body body</p>
                </div>
                <% include ./partials/footer.ejs %>
            </div>
        </div>
        <% include ./partials/map.ejs %>
    </body>
</html>