<!DOCTYPE html>
<html>
    <% var page = index; var pageName = 'index'; %>
    <% include ./partials/head.ejs %>
    <body>
        <div class="page index">
            <div class="wrap">
                <% include ./partials/header.ejs %>
                <% include ./partials/hero.ejs %>
                <div class="body">
                    <div class="content">
                        <main>
                            <% include ./partials/content.ejs %>
                            <section>
                                <h2>最新消息</h2>
                                <a
                                    class="twitter-timeline"
                                    href="https://twitter.com/Vet_Record"
                                    data-chrome="noheader noborders noscrollbar"
                                    data-tweet-limit="5"
                                >Vet_Record 最新消息</a>
                            </section>
                        </main>
                    </div>
                    <% include ./partials/sidebar.ejs %>
                </div>
                <% include ./partials/footer.ejs %>
            </div>
        </div>
        <% include ./partials/map.ejs %>
    </body>
    <% include ./partials/scripts.ejs %>
</html>