<div class="content">
    <main>
    <% for (var i = 0; i < page.content.length; i += 1) { %>
        <% var openSection; %>
        <% for (var j in page.content[i]) { %>
            <% if (j.indexOf('h') > -1) { %>
                <% if (openSection === true) { %>
                    <% openSection = false; %>
                    </section>
                <% } %>
                <% openSection = true; %>
                <section>
            <% } %>
            <<%= j %>>
                <%= page.content[i][j] %>
            </<%= j %>>
        <% } %>
    <% } %>
    </main>
</div>