<div class="sidebar">
    <aside>
        <% for (var i = 0; i < sidebar.length; i += 1) { %>
            <section>
                <div class="hd">
                    <h3><%= sidebar[i].title %></h3>
                </div>
                <div class="bd">
                    <% if (typeof sidebar[i].ul !== 'undefined') { %>
                    <ul>
                        <% for (var j = 0; j < sidebar[i].ul.length; j += 1) { %>
                            <li><%= sidebar[i].ul[j] %></li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
            </section>
        <% } %>
        <section>
            <div class="bd">
                <div class="fb-page" data-href="https://www.facebook.com/EdenAnimalHosp/" data-tabs="timeline" data-width="270" data-height="450" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/EdenAnimalHosp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EdenAnimalHosp/">Facebook專頁</a></blockquote></div>
            </div>
        </section>
    </aside>
</div>